# dependencies
node_modules/

# next.js build output
.next/
out/

# env files (секреты! в гит не класть)
.env
.env*.local

# vercel
.vercel

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts